/*----------------------------------------------------------------*\
        0_Import tools
\*----------------------------------------------------------------*/

@import "node_modules/susy/sass/susy";
@import "node_modules/breakpoint-sass/stylesheets/breakpoint";

/*----------------------------------------------------------------*\
        1_LAYOUT_Susy
\*----------------------------------------------------------------*/


$susy: (
	/*Layout properties*/
	container: 80%,
	columns: 12,
	/*Gutter properties*/
	gutters: 1/5,
	gutter-position: split,
	//column-width: 100px,
	/*configuration*/
	global-box-sizing: border-box,
	debug: (
		//image: show,
	)
);

$mdLayout: (
	/*Layout properties*/
	container: 80%,
	columns: 12,
	/*Gutter properties*/
	gutters: 1/5,
	gutter-position: split,
	//column-width: 100px,
	/*configuration*/
	global-box-sizing: border-box,
	debug: (
		//image: show,
	)
);

/*----------------------------------------------------------------*\
        2_Variables
\*----------------------------------------------------------------*/
/*breakpoints*/
$bkp-lg:970px;
$bkp-md:800px;
$bkp-sm:600px;

/*color panel*/
$color-1: white;
$color-2: black;
$color-3: red;
/*----------------------------------------------------------------*\
        3_Import SCSS
\*----------------------------------------------------------------*/

/* base */
@import 'base/cssReset';
/* modules */
@import 'modules/simpleFooter';
@import 'modules/simpleHeaderNavbar';
/* Theme */
//@import 'themes/threeBoxes';


@include border-box-sizing;

body, html {
	background-color: #BBB;
	font-size: 14pt;
	height: 100%;
}

#l-container{
	height: 100%;
	width: 100%;
    position: relative;
    padding-bottom: 50px;
}

.l-warp{
	@include container();
}

.l-content{
	padding: 20px;
	height: 85vh;
}

.description{
	margin-bottom: 50px;
	h1{
		font-size: 3em;
		padding: 15px 0;
	}
	p{
		text-indent: justify;
		font-weight: bold;
	}
}

.images{
	position: relative;
	@include span(full);
	height: 80%;

$img-h: 60%;
$img-w: 45%;

	.image{
		position: absolute;
		border: 1px solid $color-3;
		height: $img-h;
		width: $img-w;
		background-color: $color-2;
		color: $color-3;

		text-align: center;
		font-size: 2em;
		padding: 10px;

		&:hover{
			transform: scale(1.2);
			z-index: 2;
			background-color: lighten($color-2, 15%);
		}
	}

	#image1{
		top: ((100%-$img-h + 15%)/2);
		right: ((100%-$img-w)/2);
		transform: scale(1.1);
		z-index: 1;
	}

	#image2{
		top: ((100%-$img-h - 10%)/2);
		right: 0;
		transform: skewY(5deg);	
		background-color: lighten($color-2, 10%);
	}

	#image3{
		top: ((100%-$img-h - 10%)/2);
		left: 0;
		transform: skewY(-5deg);
		background-color: lighten($color-2, 10%);	
	}
}


#defaultnav{
	width: 60%;
	margin: 0 auto;
	text-align: center;	
	border: 2px solid #000;
	border-radius: 5px;

	h1{
		font-size: 2em;
		padding: 10px;
		text-decoration: underline;
	}

	li{
		font-size: 1.5em;
	}
}