{% extends '0_layout.html' %}
{% block content %}

<!-- Sample Sidebar with existing templates -->
<aside id="defaultnav">
	<h1>Layouts</h1>
	<ul>
		<li><a href="/templates/threeBoxes.html">Three Boxes</a></li>
		<li><a href="/templates/threeImages.html">Three Images</a></li>
	</ul>
</aside>
<!-- Sample Content to Plugin to Template -->
<section>
	<!-- Headings -->
	{% include "../partials/headings.html" %}
	<hr />
	<!-- Paragraphs -->
	{% include "../partials/paragraph.html" %}
	<hr />
	{% include "../partials/misc_stuff.html" %}
	<hr />
	<!-- Lists -->
	{% include "../partials/lists.html" %}
	<hr />
	<!-- Forms -->
	{% include "../partials/form.html" %}
	<hr />
	<!-- Tables -->
	{% include "../partials/form.html" %}
	<hr />
</section>

{% endblock %}