<!DOCTYPE html>
<html>

{% include "../partials/head.html" %}

<body>
    <div id="l-container">
        <header id="l-header">
            {% include "../partials/header.html" %}
        </header>

        <main id="l-content">
            {% block content %}{% endblock %}
        </main>

        <footer id="l-footer">
            {% include "../partials/footer.html" %}
        </footer>
    </div>

    <!-- build:js js/scripts.min.js -->
    <!-- vendors -->
    <!-- app -->
    <script src="js/app.js"></script>
    <!-- endbuild -->
</body>

</html>